= form_for @post, html: {class: 'form-horizontal post-form'} do |f|

  .card.card-form
    - if @post.errors.any?
      #errors.alert.alert-danger
        %h4= "#{ pluralize(@post.errors.count, 'error') } prevented this post from being saved"
        :javascript
          var errors = #{@post.errors.to_json}

    .field.form-group
      .col-xs-12
        = f.text_field :title, placeholder: 'Title', class: 'post-title-field'

    .field.form-group
      .col-xs-12
        = f.text_area :body, rows: 15, placeholder: 'Content', class: 'post-body-field'

    .actions.form-group
      .col-xs-12
        = f.submit 'Save', data: {draft: false}, class: 'btn btn-default'
        = f.submit 'Save as draft', data: {draft: true}, class: 'btn btn-default'
