.container
  .card-host.col-xs-12
    - @posts.each do |post|
      .card.post-card.col-md-5.col-md-offset-1
        .card-header
          %h3.card-title= post.title
          .card-actions.pull-right
            = link_to edit_post_path(post) do
              .glyphicon.glyphicon-pencil
            = link_to post, method: :delete, data: {confirm: 'Are you sure?'} do
              .glyphicon.glyphicon-trash
        %span.card-date= post.created_at.strftime("%B %d, %Y")
        %br
        %br
        %p.card-body= post.snippet
  %br
  = link_to 'New Post', new_post_path
  